body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

#navbar {
    height: 8vh;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: left;
    align-items: center;
    background-color: #282828;
    flex-wrap: nowrap;
}

#a_nav{
    margin: 0px 20px;
}

#a_nav a{
    color: #ffffff;
    margin: 0px 18px;
}

a {
    color:#950000; /*#827878;*/
    text-decoration:none;
}

h1 {
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content {
    float:left;
    width:60%;
    padding:10px 0 0 40px;
}

#sidebar {
    float:right;
    width:30%;
    padding:20px;
    background:#efefef;
    height:100%;
}



#user_info {
    padding:30px 40px 30px 40px;
    background:#4f4f4f;
}

#user_info h3{
    color: #ffffff;
}

#user_info a{
    color: #ffffff;
}



p.date {
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic;
}

/* pagination */
.pagination {
    margin:40px 0;
    font-weight:bold;
}

/* forms */
label {
    float:left;
    /*clear:both;
    color:#333;
    margin-bottom:4px;*/
}
input, textarea {
    /*clear:both;
    float:left;
    margin:0 0 10px;
    background:#dcdcdc;
    border:0;
    padding:6px 10px;
    font-size:12px;*/
}
input[type=submit] {
    /*font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;*/
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}

/* custom */
#wine_details {
    box-sizing: border-box;
    padding:0 0 0 0;
    background-color: white;
    color: black;
}

#wine_details_img,
#vintage_wine_details_img {
    height: 180pt;
    width: 80pt;
}


#wine_details_img img,
#vintage_wine_details_img img {
    height:100%;
}

#wine_metascore {
    float: right;
    display: flex;
    align-items: baseline;
    padding: 0 1rem 0 2rem;
    font-size: 2rem;
    color: #fff;
}

#wine_metascore span {
    float: right;
    padding: 0 1rem 0 2rem;
    font-size: 1rem;
    color: rgba(255,255,255,0.8);
}

/*
#content {
    border-right: 2px solid #949393;
    padding: 0 0 0 0;
}
*/

#wine_details h1 {
    color: black;
}

.grey {
    color: rgba(255,255,255,0.8);
}

.small {
    font-size: 1rem;
}

.actor {
    display: flex;
    flex-direction: column;
}
/*
#sidebar form {
    display: flex;
}*/

#sidebar input,
#sidebar textarea {
    clear: both;
    float: left;
    margin: 0 0 10px;
    background: #ededed;
    border: 1px solid #a09b9b;
    padding: 3px 10px;
    font-size: 1.2rem;
    width: 10rem;
}

#sidebar input[type=submit] {
    font-weight: bold;
    background: #950000;
    color: #fff;
    padding: 10px 15px;
    font-size: 0.55rem;
    text-transform: uppercase;
    width: 7rem;
    border-radius:30px;
}


.container {
    display: flex;
    width: 100%;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.adjust_margin {
    margin-top: -2rem;
    margin-bottom: -1rem;
}

#last_seen,
#what_to_watch,
#top_rated,
#red_wines,
#white_wines,
#fortified_wines,
#other_wines,
[id*="recently_visited_"] {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 15pt;
    margin-bottom: 60pt;
}

.wine_card,
.person_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*height: 200pt;*/
    flex-basis: 20%;
    max-width: 20%;
    padding-top: 20pt;
}

.wine_card a {
    align-self: center;
    overflow-x: hidden;
}

.wine_card img,
.person_card img {
    /*object-fit: contain;*/
    height: 150pt;
    margin-bottom: 20pt;
}

.wine_card .wine,
.wine_card .producer,
.wine_card .rating {
    text-align: center;
}

.wine_card .wine a,
.wine_card .producer a {
    text-decoration: none;
    color: black;
}

.wine_card .wine a {
    color: black;
}

.wine_card .wine {
    font-family: "Roboto", sans-serif;
    font-size: 14pt;
    font-weight: normal;
    text-transform: capitalize;
    color: darkred;
    text-decoration: none;
    margin-bottom: 6pt;
}

.wine_card .producer {
    font-family: "Roboto",sans-serif;
    font-size: 8pt;
    font-weight: lighter;
    margin-bottom: 3pt;
    text-transform: uppercase;
}

/* wine list */

.wine_horizontal_card {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    max-width: 100%;
    height: 150pt;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 15px 2px #ccc;
}

.wine_horizontal_card a {
    height: 200px;
    width: 200px;
    /*display: flex;
    justify-content: center;
    flex-basis: 20%;*/
    color: black;
    text-align: center;
}

.wine_horizontal_card a img {
    height: 150pt;
    margin-bottom: 20pt;
}

.wine_horizontal_card .details {
    height: 100%;
    width: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
}

.wine_horizontal_card .details .producer {
    font-family: "Roboto", sans-serif;
    font-size: 8pt;
    font-weight: lighter;
    margin-bottom: 4pt;
    text-transform: uppercase;
}

.wine_horizontal_card .details .wine {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
        font-weight: bold;
    }

.wine_horizontal_card .details .type {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
    }

.wine_horizontal_card .details .region {
        font-family: "Roboto", sans-serif;
        font-size: 10pt;
        font-weight: normal;
        text-transform: capitalize;
    }

.wine_horizontal_card .details .reviews {
        display: flex;
        align-items: flex-end;
        margin: auto 0;
        margin-bottom: 10%;
        font-family: "Roboto", sans-serif;
        font-size: 10pt;
        }

.wine_horizontal_card .details .reviews .rating {
            font-family: "Roboto", sans-serif;
            font-size: 34pt;
            margin-right: 0.5rem;
        }

.wine_horizontal_card .details .reviews .info {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 34pt;
            }

.wine_horizontal_card .details .reviews .info .stars {
                white-space: nowrap;
                }

.wine_horizontal_card .details .reviews .info .stars svg {
                    color: darkred;
                }

.wine_horizontal_card .details .reviews .info .stars .mantinha {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 16px;
                    width: 100%;
                    background-color: #ffffffbb;
                    z-index: 3;
                }

.wine_horizontal_card .details .reviews .info .nr_reviews {
                font-family: "Roboto", sans-serif;
                font-size: 9pt;
                font-weight: lighter;
                text-transform: uppercase;
                padding-left: 1pt;
            }

.wine_horizontal_card .extra {
    height: 100%;
    width: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


/* producer list */

.producer_logo {
    height: 80pt;
    padding: 20pt;

}

.producer_logo img {
    height: 100%;

}


/* grape info */

#grape_img {
    height: 140pt;
    padding: 10pt;

}

#grape_img img {
    height: 100%;
}


.grape_horizontal_card {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    max-width: 100%;
    height: 150pt;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 15px 2px #ccc;
}

.grape_horizontal_card img {
    height: 100pt;
}

.grape_horizontal_card a {
    width: 200px;
    color: black;
    text-align: center;
    position: relative;
}

.grape_horizontal_card a img {
    position: absolute;
    left:50%;
    transform: translateX(-30%) translateY(-50%);
    top:50%;
}

.grape_horizontal_card .details {
    height: 100%;
    width: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    padding-left: 5rem;
}

.grape_horizontal_card .details .reviews .rating {
            font-family: "Roboto", sans-serif;
            font-size: 34pt;
            margin-right: 0.5rem;
        }

.grape_horizontal_card .details .wine {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
        font-weight: bold;
    }

.grape_horizontal_card .details .type {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
    }

.grape_horizontal_card .details .region {
        font-family: "Roboto", sans-serif;
        font-size: 10pt;
        font-weight: normal;
        text-transform: capitalize;
    }


/* producer info */

.producer_horizontal_card {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    max-width: 100%;
    height: 150pt;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 15px 2px #ccc;
}

.producer_horizontal_card img {
    height: 65pt;
}

.producer_horizontal_card a {
    width: 200px;
    color: black;
    text-align: center;
    position: relative;
}

.producer_horizontal_card a img {
    position: absolute;
    left:50%;
    transform: translateX(-30%) translateY(-50%);
    top:50%;
}

.producer_horizontal_card .details {
    height: 100%;
    width: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    padding-left: 8rem;
}

.producer_horizontal_card .details .wine {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
        font-weight: bold;
    }

.producer_horizontal_card .details .region {
        font-family: "Roboto", sans-serif;
        font-size: 10pt;
        font-weight: normal;
    }

/* region info */

.region_horizontal_card {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    max-width: 100%;
    height: 150pt;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 15px 2px #ccc;
}

.region_horizontal_card img {
    height: 145pt;
}

.region_horizontal_card a {
    width: 200px;
    color: black;
    text-align: center;
    position: relative;
}

.region_horizontal_card a img {
    position: absolute;
    left:111%;
    transform: translateX(-30%) translateY(-50%);
    top:50%;
}

.region_horizontal_card .details {
    height: 100%;
    width: 100%;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
    padding-left: 23rem;
}

.region_horizontal_card .details .reviews .rating {
            font-family: "Roboto", sans-serif;
            font-size: 34pt;
            margin-right: 0.5rem;
        }

.region_horizontal_card .details .wine {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
        font-weight: bold;
    }

.region_horizontal_card .details .type {
        font-family: "Roboto", sans-serif;
        font-size: 14pt;
        font-weight: normal;
        text-transform: capitalize;
    }

.region_horizontal_card .details .region {
        padding-top: 0pt;
        font-family: "Roboto", sans-serif;
        font-size: 10pt;
        font-weight: normal;
    }

.region_horizontal_card .details .region a {
        color: #950000;
    }