{% extends "wines/base.html" %}
{% load static %}
{% block title %}Vinipedia - Regions - {{ wine.name }}{% endblock %}

{% block content %}

<!-- Name -->
<div id="wine_details"><h1>{{ region.name }}</h1></div>

<!-- Image -->
<div>
    {% if region.image %}
    <img src="{{ region.image.url }}" alt="{{ region }}'s image">
    {% else %}
    <img src="{{ MEDIA_URL }}generic_region.png" alt="{{ region }}'s image">
    {% endif %}
</div>

<!-- Description -->
<h4>Description</h4>
{% if region.description %}
<p>{{ region.description }}</p>
{% else %}
<p>No description available</p>
{% endif %}

<!-- Local producers -->
<h4>Local producers</h4>
{% for producer in region.local_producers.all %}
<p>
    <a href="{{ producer.get_absolute_url }}">{{ producer|capfirst }}</a>
</p>
{% empty %}
<p class="info">No local producers have been registered for this region.</p>
{% endfor %}

<!-- Other producers operating in the region -->
<h4>Other producers operating in the region</h4>
{% for region_producer in region.get_other_producers %}
<p>
    <a href="{{ region_producer.get_absolute_url }}">{{ region_producer|capfirst }}</a>
</p>
{% empty %}
<p class="info">No additional producers have been registered for this region.</p>
{% endfor %}

<!-- Local grape varieties -->
<h4>Local grape varieties</h4>
{% for grape in region.grapes.all %}
<p>
    <a href="{% url 'wines:grape_detail' grape.id %}">{{ grape.name|capfirst }}</a>
</p>
{% empty %}
<p class="info">No grapes have been registered as being native from this region.</p>
{% endfor %}

<!-- Local wines -->
<h4>Wines produced in this region</h4>
{% if region.local_wines.count > 0 %}
    {% for wine in region.local_wines.all|slice:":5" %}
    <p>
        <a href="{{ wine.get_absolute_url }}">{{ wine|capfirst }}</a>
    </p>
    {% endfor %}
    {% if region.local_wines.count > 5 %}
    <a href="{% url 'wines:wines_per_region' region.id %}">More wines from this region...</a>
    {% endif %}
    <!-- Average rating -->
    <h4>Average rating for wines from this region</h4>
    {% if region.get_average_rating %}
    <p>{{ region.get_average_rating }}*</p>
    {% else %}
    <p>N/A</p>
    {% endif %}
{% else %}
<p>No wines have been registered as being produced in this region.</p>
{% endif %}

<!-- Additional links -->
<h4>Additional links</h4>
<p>
    <a href="{% url 'wines:producers_per_region' region.id %}">All producers from {{ region.name }}</a>
</p>
<p>
    <a href="{% url 'wines:wines_per_region' region.id %}">All wines from {{ region.name }}</a>
</p>
<p>
    <a href="{% url 'wines:vintages_per_region' region.id %}">All vintages from {{ region.name }}</a>
</p>

{% endblock %}