{% extends "wines/base.html" %}

{% block title %}Vinipedia - Regions{% endblock %}

{% block content %}
<h1>Region list</h1>
{% for region in regions %}
<div class="region_horizontal_card">
    <a href="{{ region.get_absolute_url }}">
        <img src="{{ region.image.url }}" alt="{{ region }}'s image">
    </a>
    <div class="details">
        <div class="wine">
          <a href="{{ region.get_absolute_url }}">
            {{ region.name }}
          </a>
        </div>
        <div class="region">
            <p>Local producers</p>
            {% for producer in region.local_producers.all %}
            <a>
                <a href="{{ producer.get_absolute_url }}">{{ producer }}</a>
            </a>
            {% empty %}
            <h5 class="info">No local producers have been registered for this region.</h5>
            {% endfor %}
          </a>
        </div>
    </div>
</div>
{% empty %}
<p>
  There are no regions in the DB yet.
</p>
{% endfor %}
{% if regions %}
    {% include "pagination.html" with page=regions %}
{% endif %}
{% endblock %}

