{% load wine_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  -->
  <link href="{% static 'css/wines.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- Links for navigation -->
  <div id="navbar">
    <div id="a_nav">
      <a href="/">Home</a>
      <a href="{% url 'wines:wine_list' %}">Wines</a>
      <a href="{% url 'wines:vintage_list' %}">Vintages</a>
      <a href="{% url 'wines:grape_list' %}">Grapes</a>
      <a href="{% url 'wines:producer_list' %}">Producers</a>
      <a href="{% url 'wines:region_list' %}">Regions</a>
    </div>
  </div>

  <!-- Site info -->
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

  <div id="sidebar">
    <div id="user_info">
      <!-- User status -->
      {% if request.user.is_authenticated %}
        <h3>
          Welcome, {{request.user.username}}
        </h3>
        <div class="container-vertical">
          {% if request.user.is_superuser %}
          <a href="{% url 'admin:index' %}">Admin dashboard</a>
          {% endif %}
          <a href="{% url 'accounts:profile' profile_id=request.user.profile.id %}">My profile</a>
          <a href="{% url 'accounts:edit' %}">Edit</a>
          <a href="{% url 'accounts:logout' %}">Log out</a>
        </div>
        <!-- Generic info regarding the logged in user's activity -->
      {% else %}
        <a href="{% url 'accounts:login' %}">Log in</a>
        <a href="{% url 'accounts:register' %}">Register</a>
      {% endif %}
    </div>
    <!-- General info -->
    <h2>
      <a href="/">Vinipedia</a>
    </h2>
    <p>All about the Portuguese wine industry.</p>

    <!-- Search -->
    <br>
    <h3>Search:</h3>
    <div class="container adjust_margin">{% show_sitewide_search_form %}</div>

    <h3>Find wines:</h3>
    <div class="container adjust_margin">{% show_wines_search_form %}</div>
    <br>
    <a href="{% url 'wines:wine_advanced_search' %}">Advanced wine search</a>

    <h3>Find grape varieties:</h3>
    <div class="container adjust_margin">{% show_grapes_search_form %}</div>

    <h3>Find producers:</h3>
    <div class="container adjust_margin">{% show_producers_search_form %}</div>

    <!-- Database status -->
    <br><br>
    <h4>Database status</h4>
    <p>Producers: {% total_producers_registered %}</p>
    <p>Wines: {% total_wines_registered %}</p>
    <p>Vintages: {% total_vintages_registered %}</p>
    <p>Grape varieties: {% total_grapes_registered %}</p>
    <p>Reviews written: {% total_reviews_written %}</p>


    <!-- Info regarding the latest DB activity on the website -->
    <br><br>
    <h3>Recently visited</h3>
    {% show_last_visited_pages request %}

    <!-- Info regarding the latest reviews the website -->
    <br><br>
    <h3>Latest reviews</h3>
    {% show_latest_reviews 5 %}

  </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->
</body>
</html>
