{% extends "wines/base.html" %}
{% load wine_tags %}

{% block title %}Vinipedia home page{% endblock %}

{% block content %}
<h1>Home page</h1>

<!-- top rated wines -->
<h2>Top rated wines</h2>
<br>
<div id="top_rated">
{% for wine in top_rated_wines %}
    <div class="wine_card">
        <a href="{{ wine.get_absolute_url }}">
            {% if wine.image %}
            <img src="{{ wine.image.url }}" alt="{{ wine }}'s image">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ wine.type }}.png" alt="{{ wine }}'s image">
            {% endif %}
        </a>
        <div class="producer">
            <a href="{{ wine.producer.get_absolute_url }}">
                {{ wine.producer.short_name|default_if_none:wine.producer.name }}
            </a>
        </div>
        <div class="wine">
            <a href="{{ wine.get_absolute_url }}">
                {{ wine.name }}
            </a>
        </div>
        <div class="rating">
            {% if wine.avg_rating %}
            <p>{{ wine.avg_rating|floatformat:1 }}*</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

<!-- top rated vintages -->
<h2>Top rated vintages</h2>
<br>
<div id="top_rated">
{% for vintage in top_rated_vintages %}
    <div class="wine_card">
        <a href="{{ vintage.get_absolute_url }}">
            {% if vintage.image %}
            <img src="{{ vintage.image.url }}" alt="{{ vintage }}'s image">
            {% elif vintage.wine.image %}
            <img src="{{ vintage.wine.image.url }}" alt="{{ vintage }}'s image">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ vintage.wine.type }}.png" alt="{{ vintage }}'s image">
            {% endif %}
        </a>
        <div class="producer">
            <a href="{{ vintage.wine.producer.get_absolute_url }}">
                {{ vintage.wine.producer.short_name|default_if_none:vintage.wine.producer.name }}
            </a>
        </div>
        <div class="wine">
            <a href="{{ vintage.get_absolute_url }}">
                {{ vintage.wine.name }} {{ vintage.year|default_if_none:"N.V." }}
            </a>
        </div>
        <div class="rating">
            {% if vintage.avg_rating %}
            <p>{{ vintage.avg_rating|floatformat:1 }}*</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

<!-- red wines -->
<h2>Red wines</h2>
<br>
<div id="red_wines">
{% for wine in red_wines %}
    <div class="wine_card">
        <a href="{{ wine.get_absolute_url }}">
            {% if wine.image %}
            <img src="{{ wine.image.url }}" alt="{{ wine }}'s image">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ wine.type }}.png" alt="{{ wine }}'s image">
            {% endif %}
        </a>
        <div class="producer">
            <a href="{{ wine.producer.get_absolute_url }}">
                {{ wine.producer.short_name|default_if_none:wine.producer.name }}
            </a>
        </div>
        <div class="wine">
            <a href="{{ wine.get_absolute_url }}">
                {{ wine.name }}
            </a>
        </div>
    </div>
{% endfor %}
</div>

<!-- white wines -->
<h2>White wines</h2>
<br>
<div id="white_wines">
{% for wine in white_wines %}
    <div class="wine_card">
        <a href="{{ wine.get_absolute_url }}">
            {% if wine.image %}
            <img src="{{ wine.image.url }}" alt="{{ wine }}'s image">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ wine.type }}.png" alt="{{ wine }}'s image">
            {% endif %}
        </a>
        <div class="producer">
            <a href="{{ wine.producer.get_absolute_url }}">
                {{ wine.producer.short_name|default_if_none:wine.producer.name }}
            </a>
        </div>
        <div class="wine">
            <a href="{{ wine.get_absolute_url }}">
                {{ wine.name }}
            </a>
        </div>
    </div>
{% endfor %}
</div>

<!-- fortified wines -->
<h2>Fortified wines</h2>
<br>
<div id="fortified_wines">
{% for wine in fortified_wines %}
    <div class="wine_card">
        <a href="{{ wine.get_absolute_url }}">
            {% if wine.image %}
            <img src="{{ wine.image.url }}" alt="{{ wine }}'s image">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ wine.type }}.png" alt="{{ wine }}'s image">
            {% endif %}
        </a>
        <div class="producer">
            <a href="{{ wine.producer.get_absolute_url }}">
                {{ wine.producer.short_name|default_if_none:wine.producer.name }}
            </a>
        </div>
        <div class="wine">
            <a href="{{ wine.get_absolute_url }}">
                {{ wine.name }}
            </a>
        </div>
    </div>
{% endfor %}
</div>

<!-- other wines -->
<h2>Other wines</h2>
<br>
<div id="other_wines">
{% for wine in other_wines %}
    <div class="wine_card">
        <a href="{{ wine.get_absolute_url }}">
            {% if wine.image %}
            <img src="{{ wine.image.url }}" alt="{{ wine }}'s image">
            {% else %}
            <img src="{{ MEDIA_URL }}{{ wine.type }}.png" alt="{{ wine }}'s image">
            {% endif %}
        </a>
        <div class="producer">
            <a href="{{ wine.producer.get_absolute_url }}">
                {{ wine.producer.short_name|default_if_none:wine.producer.name }}
            </a>
        </div>
        <div class="wine">
            <a href="{{ wine.get_absolute_url }}">
                {{ wine.name }}
            </a>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}
