{% extends "wines/base.html" %}
{% load static %}
{% block title %}Vinipedia - Vintages - {{ vintage.wine.name }}{% endblock %}

{% block content %}

<!-- Name -->
<div id="wine_details">
{% if vintage.year != None %}
    <h1>{{ vintage.wine.name }} ({{ vintage.year }})</h1>
{% else %}
    <h1>{{ vintage.wine.name }} (N.V.)</h1>
{% endif %}
</div>

<!-- Description -->
<h4>Wine description</h4>
{% if vintage.wine.description %}
<p>{{ vintage.wine.description }}</p>
{% else %}
<p>No description available</p>
{% endif %}

<!-- Wine -->
<h4>Wine</h4>
<p>
    <a href="{{ vintage.wine.get_absolute_url }}">{{ vintage.wine.name|capfirst }}</a>
</p>

<!-- Year -->
<h4>Year</h4>
<p>{{ vintage.year }}</p>

<!-- Producer -->
<h4>Produced by</h4>
<p>
    <a href="{{ vintage.wine.producer.get_absolute_url }}">{{ vintage.wine.producer|capfirst }}</a>
</p>

<!-- Type -->
<h4>Type</h4>
<p>
    <a href="{% url 'wines:wines_per_type' vintage.wine.type %}">{{ vintage.wine.type|capfirst }}</a>
</p>

<!-- Grape varieties -->
<h4>Grape varieties</h4>
{% for grape in vintage.wine.grape_varieties.all %}
<p>
    <a href="{% url 'wines:grape_detail' grape.id %}">{{ grape.name|capfirst }}</a>
</p>
{% empty %}
<p class="info">No grape information was registered for this wine.</p>
{% endfor %}

<!-- Other available vintages -->
<h4>Other available vintages</h4>
{% if vintage.wine.vintages.all|length > 1 %}
    {% for wine_vintage in vintage.wine.vintages.all %}
        {% if wine_vintage != vintage %}
        <p>
            <a href="{% url 'wines:vintage_detail' wine_vintage.id %}">{{ wine_vintage.year }}</a>
        </p>
        {% endif %}
    {% endfor %}
{% else %}
<p class="info">No other vintages were registered for this wine.</p>
{% endif %}

<!-- Existing reviews -->
<h4>Reviews</h4>
{% with vintage.reviews.count as total_reviews %}
<p>
  {{ total_reviews }} review{{ total_reviews|pluralize }}
</p>
{% endwith %}
{% for review in vintage.reviews.all %}
  <div class="review">
    <p class="info">
      <h3>
      Review {{ forloop.counter }} by {{ review.user }}
      </h3>
    </p>
    <p>Date: {{ review.published_on }}</p>
    <p>{{ review.text|linebreaks }}</p>
    <p class="score">Score: {{ review.score }}*</p>
    <p class="score">Body: {{ review.body }}*</p>
    <p class="score">Sweetness: {{ review.sweetness }}*</p>
    <p class="score">Acidity: {{ review.acidity }}*</p>
  </div>
{% empty %}
    <p class="info">There are no reviews yet.</p>
{% endfor %}

<!-- Review form -->
{% if request.user.is_authenticated %}
    {% if new_review %}
        <h2>Your review has been added.</h2>
    {% elif not reviewed_already_by_this_user %}
        <h2>Add a review</h2>
        <form method="POST">
          {% csrf_token %}
          {{ review_form.as_p }}
          <p>
            <input type="submit" value="Add review">
          </p>
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'accounts:login' %}">Log in to write a review</a>
{% endif %}

{% endblock %}