{% extends "wines/base.html" %}
{% load static %}
{% block title %}Vinipedia - Vintages - {{ vintage.wine.name }}{% endblock %}

{% block content %}

<!-- Name -->
<div id="wine_details">
{% if vintage.year != None %}
    <h1>{{ vintage.wine.name }} ({{ vintage.year }})</h1>
{% else %}
    <h1>{{ vintage.wine.name }} (N.V.)</h1>
{% endif %}
</div>

<!-- Image -->
<div>
    {% if vintage.image %}
    <img src="{{ vintage.image.url }}" alt="{{ vintage }}'s image">
    {% elif vintage.wine.image %}
    <img src="{{ vintage.wine.image.url }}" alt="{{ vintage }}'s image">
    {% else %}
    <img src="/media/{{ vintage.wine.type }}.png" alt="{{ vintage }}'s image">
    {% endif %}
</div>

<!-- Wine -->
<h4>Wine</h4>
<p>
    <a href="{{ vintage.wine.get_absolute_url }}">{{ vintage.wine.name|capfirst }}</a>
</p>

<!-- Year -->
<h4>Year</h4>
<p>{{ vintage.year }}</p>

<!-- Producer -->
<h4>Produced by</h4>
<p>
    <a href="{{ vintage.wine.producer.get_absolute_url }}">{{ vintage.wine.producer|capfirst }}</a>
</p>

<!-- Type -->
<h4>Type</h4>
<p>
    <a href="{% url 'wines:wines_per_type' vintage.wine.type %}">{{ vintage.wine.type|capfirst }}</a>
</p>

<!-- Grape varieties -->
<h4>Grape varieties</h4>
{% for grape in vintage.wine.grape_varieties.all %}
<p>
    <a href="{% url 'wines:grape_detail' grape.id %}">{{ grape.name|capfirst }}</a>
</p>
{% empty %}
<p class="info">No grape information was registered for this wine.</p>
{% endfor %}

<!-- Description -->
<h4>Description</h4>
{% if vintage.wine.description %}
<p>{{ vintage.wine.description }}</p>
{% else %}
<p>No description available</p>
{% endif %}

<!-- Alcohol content -->
<h4>Alcohol content</h4>
{% if vintage.alcohol_content %}
<p>{{ vintage.alcohol_content|floatformat }}%</p>
{% else %}
<p>N/A</p>
{% endif %}

<!-- Other available vintages -->
<h4>Other available vintages</h4>
{% if vintage.wine.vintages.all|length > 1 %}
    {% for wine_vintage in vintage.wine.vintages.all %}
        {% if wine_vintage != vintage %}
        <p>
            <a href="{% url 'wines:vintage_detail' wine_vintage.id %}">{{ wine_vintage.year }}</a>
        </p>
        {% endif %}
    {% endfor %}
{% else %}
<p class="info">No other vintages have been registered for this wine.</p>
{% endif %}

<!-- Average rating -->
<h4>Rating</h4>
{% if vintage.reviews.all %}
<p>{{ vintage.get_average_rating }}*</p>
{% else %}
<p>N/A</p>
{% endif %}

<!-- Taste profile -->
<h4>Taste summary</h4>
{% if vintage.reviews.all %}
<!-- Body -->
{% if vintage.get_average_body %}
<p class="score">Body: {{ vintage.get_average_body }}*</p>
{% else %}
<p class="score">Body: N/A</p>
{% endif %}
<!-- Sweetness -->
{% if vintage.get_average_sweetness %}
<p class="score">Sweetness: {{ vintage.get_average_sweetness }}*</p>
{% else %}
<p class="score">Sweetness: N/A</p>
{% endif %}
<!-- Acidity -->
{% if vintage.get_average_acidity %}
<p class="score">Acidity: {{ vintage.get_average_acidity }}*</p>
{% else %}
<p class="score">Acidity: N/A</p>
{% endif %}
<!-- Tannin -->
{% if vintage.get_average_tannin %}
<p class="score">Tannin: {{ vintage.get_average_tannin }}*</p>
{% else %}
<p class="score">Tannin: N/A</p>
{% endif %}
{% else %}
<p>No info </p>
{% endif %}

<!-- Existing reviews -->
<h4>Reviews</h4>
{% with vintage.reviews.count as total_reviews %}
<p>
  {{ total_reviews }} review{{ total_reviews|pluralize }}
</p>
{% endwith %}
{% for review in vintage.reviews.all %}
  <div class="review">
    <p class="info">
      <h3>
      Review {{ forloop.counter }} by {{ review.user }}
      </h3>
    </p>
    <p>Date: {{ review.published_on }}</p>
    <p>{{ review.text|linebreaks }}</p>
    <!-- Score -->
    <p class="score">Score: {{ review.score }}*</p>
    <!-- Body -->
    {% if review.body %}
    <p class="score">Body: {{ review.body }}*</p>
    {% else %}
    <p class="score">Body: N/A</p>
    {% endif %}
    <!-- Sweetness -->
    {% if review.sweetness %}
    <p class="score">Sweetness: {{ review.sweetness }}*</p>
    {% else %}
    <p class="score">Sweetness: N/A</p>
    {% endif %}
    <!-- Acidity -->
    {% if review.acidity %}
    <p class="score">Acidity: {{ review.acidity }}*</p>
    {% else %}
    <p class="score">Acidity: N/A</p>
    {% endif %}
    <!-- Tannin -->
    {% if review.tannin %}
    <p class="score">Tannin: {{ review.tannin }}*</p>
    {% else %}
    <p class="score">Tannin: N/A</p>
    {% endif %}
  </div>
{% empty %}
    <p class="info">There are no reviews yet.</p>
{% endfor %}

<!-- Review form -->
{% if request.user.is_authenticated %}
    {% if new_review %}
        <h2>Your review has been added.</h2>
    {% elif not reviewed_already_by_this_user %}
        <h2>Add a review</h2>
        <form method="POST">
          {% csrf_token %}
          {{ review_form.as_p }}
          <p>
            <input type="submit" value="Add review">
          </p>
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'accounts:login' %}">Log in to write a review</a>
{% endif %}

{% endblock %}