{% extends "wines/base.html" %}
{% load wine_tags %}

{% block title %}Search results for wines{% endblock %}

{% block content %}
  <h3>Advanced wine search</h3>
  <div class="container adjust_margin">{% show_wines_advanced_search_form %}</div>
{% if request.GET %}
  <h2>Search results:</h2>
  {% if request.GET.vintage_year %}
    {% for vintage in results %}
      <div>
        <a href="{{ vintage.get_absolute_url }}">
          <p>{{ vintage.wine.name }} ({{ vintage.year|default_if_none:"N.V." }})</p>
        </a>
      </div>
    {% empty %}
      <p>
        No matching vintages were found.
      </p>
    {% endfor %}
  {% else %}
    {% for wine in results %}
      <div>
        <a href="{{ wine.get_absolute_url }}">
          {{ wine.name }}
        </a>
      </div>
    {% empty %}
      <p>
        No matching wines were found.
      </p>
    {% endfor %}
  {% endif %}
{% endif %}
{% endblock %}
