{% extends "wines/base.html" %}
{% load static %}
{% block title %}Vinipedia - Wines - {{ wine.name }}{% endblock %}

{% block content %}

<!-- Name -->
<div id="wine_details"><h1>{{ wine.name }}</h1></div>

<!-- Image -->
<div>
    {% if wine.image %}
    <img src="{{ wine.image.url }}" alt="{{ wine }}'s image">
    {% else %}
    <img src="/media/{{ wine.type }}.png" alt="{{ wine }}'s image">
    {% endif %}
</div>

<!-- Producer -->
<h4>Produced by</h4>
<p>
    <a href="{{ wine.producer.get_absolute_url }}">{{ wine.producer|capfirst }}</a>
</p>

<!-- Type -->
<h4>Type</h4>
<p>
    <a href="{% url 'wines:wines_per_type' wine.type %}">{{ wine.type|capfirst }}</a>
</p>

<!-- Grape varieties -->
<h4>Grape varieties</h4>
{% for grape in wine.grape_varieties.all %}
<p>
    <a href="{% url 'wines:grape_detail' grape.id %}">{{ grape.name|capfirst }}</a>
</p>
{% empty %}
<p class="info">No grape information was registered for this wine.</p>
{% endfor %}

<!-- Description -->
<h4>Description</h4>
{% if wine.description %}
<p>{{ wine.description }}</p>
{% else %}
<p>No description available</p>
{% endif %}

<!-- Vintages -->
<h4>Available vintages</h4>
{% if wine.vintages.count > 0 %}
    {% for vintage in wine.vintages.all|slice:":5" %}
    <p>
        <a href="{% url 'wines:vintage_detail' vintage.id %}">{{ vintage.year }}</a>
    </p>
    {% endfor %}
    {% if wine.vintages.count > 5 %}
    <a href="{% url 'wines:vintages_per_wine' wine.id %}">More {{ wine.name }} vintages...</a>
    {% endif %}
{% else %}
    <p class="info">No vintages have been registered for this producer.</p>
{% endif %}

<!-- Average rating -->
<h4>Average rating</h4>
{% if wine.reviews.all %}
<p>{{ wine.get_average_rating }}*</p>
{% else %}
<p>N/A</p>
{% endif %}
<!-- Average acidity -->
<p>Average acidity: {{ wine.get_average_acidity|default_if_none:"N/A" }}</p>
<!-- Average body -->
<p>Average body: {{ wine.get_average_body|default_if_none:"N/A" }}</p>
<!-- Average sweetness -->
<p>Average sweetness: {{ wine.get_average_sweetness|default_if_none:"N/A" }}</p>
<!-- Average tannin -->
<p>Average tannin: {{ wine.get_average_tannin|default_if_none:"N/A" }}</p>

<!-- More info -->
<h4>Additional links</h4>
<p>
    <a href="{% url 'wines:vintages_per_wine' wine.id %}">All vintages for {{ wine.name }}</a>
</p>

<!-- Existing reviews -->
{% with wine.reviews.count as total_reviews %}
<h4>Reviews ({{ total_reviews }})</h4>
{% endwith %}
{% for review in wine.reviews.all %}
  <hr>
  <div class="review">
    <p class="info">
      <h5>
      Review by {{ review.user }}
      </h5>
    </p>
    {% if review.vintage != None %}
    <h5>Vintage: {{ review.vintage.year }}</h5>
    {% endif %}
    <p>Date: {{ review.published_on }}</p>
    <p>{{ review.text|linebreaks }}</p>
    <!-- Score -->
    <p class="score">Score: {{ review.score }}*</p>
    <!-- Body -->
    {% if review.body %}
    <p class="score">Body: {{ review.body }}*</p>
    {% else %}
    <p class="score">Body: N/A</p>
    {% endif %}
    <!-- Sweetness -->
    {% if review.sweetness %}
    <p class="score">Sweetness: {{ review.sweetness }}*</p>
    {% else %}
    <p class="score">Sweetness: N/A</p>
    {% endif %}
    <!-- Acidity -->
    {% if review.acidity %}
    <p class="score">Acidity: {{ review.acidity }}*</p>
    {% else %}
    <p class="score">Acidity: N/A</p>
    {% endif %}
    <!-- Tannin -->
    {% if review.tannin %}
    <p class="score">Tannin: {{ review.tannin }}*</p>
    {% else %}
    <p class="score">Tannin: N/A</p>
    {% endif %}
  </div>
{% empty %}
    <p class="info">There are no reviews yet.</p>
{% endfor %}

<!-- Review form -->
{% if request.user.is_authenticated %}
    {% if new_review %}
        <h2>Your review has been added.</h2>
    {% elif not reviewed_already_by_this_user %}
        <h2>Add a review</h2>
        <form method="POST">
          {% csrf_token %}
          {{ review_form.as_p }}
          <p>
            <input type="submit" value="Add review">
          </p>
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'accounts:login' %}">Log in to write a review</a>
{% endif %}

{% endblock %}